* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --main-color: rgb(0, 10, 146);
  --second-color: rgb(0, 13, 192);
  --third-color: crimson;
}

.error-message {
  background-color: rgb(255, 146, 146);
  width: 50vw;
  padding: 10px;
  color: rgb(155, 0, 0);
  margin: 0 auto;
  border: 1px solid rgb(155, 0, 0);
}

.success-message {
  background-color: rgb(106, 255, 114);
  width: 50vw;
  padding: 10px;
  color: rgb(0, 116, 6);
  margin: 0 auto;
  border: 1px solid rgb(0, 116, 6);
}

.text-bold {
  font-weight: bold;
}

i.spinner {
  color: var(--second-color);
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.spinner {
  height: 100vh;
}

.searchbox input {
  width: 50vw;
  padding: 7px;
  border-radius: 20px;
  font-size: 1rem;
  border: none;
  outline: none;
}
@media (max-width: 576px) {
  .searchbox input {
    display: none;
  }
}
@media (min-width: 577px) and (max-width: 1000px) {
  .searchbox input {
    display: none;
  }
}
.searchbox button {
  display: none;
}
@media (max-width: 576px) {
  .searchbox button {
    display: block;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    font-size: 1rem;
  }
}
@media (min-width: 577px) and (max-width: 1000px) {
  .searchbox button {
    display: block;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    font-size: 1rem;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 10%;
  background-color: var(--main-color);
  color: white;
}
@media (max-width: 576px) {
  .header {
    padding: 7px 5%;
  }
}
.header a {
  text-decoration: none;
}
.header .logo {
  font-weight: bold;
  font-size: 2rem;
  color: white;
}
.header ul {
  list-style: none;
}
.header ul li {
  display: inline-block;
  position: relative;
}
.header ul li a {
  color: white;
  display: block;
  padding: 20px;
  text-decoration: none;
  text-align: center;
  font-size: 1rem;
}
.header ul li ul.dropdown {
  width: -moz-fit-content;
  width: fit-content;
  position: absolute;
  z-index: 999;
  display: none;
  background-color: var(--main-color);
  padding: 10px;
}
.header ul li ul.dropdown li {
  display: flex;
  align-items: center;
  white-space: nowrap;
}
.header ul li ul.dropdown li.dropdown-list:hover {
  background-color: var(--second-color);
  border-radius: 15px;
}
.header ul li.mobile-icon {
  display: none;
}
@media (max-width: 576px) {
  .header ul li.mobile-icon {
    display: inline-block;
  }
}
@media (min-width: 577px) and (max-width: 1000px) {
  .header ul li.mobile-icon {
    display: inline-block;
  }
}
.header ul li:hover ul.dropdown {
  display: block;
}
@media (max-width: 576px) {
  .header ul li:hover ul.dropdown {
    display: none;
  }
}
@media (min-width: 577px) and (max-width: 1000px) {
  .header ul li:hover ul.dropdown {
    display: none;
  }
}
.header .signin-button {
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 1rem;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px;
}
@media (max-width: 576px) {
  .products {
    padding: 10px;
  }
}
.products .product {
  max-width: 300px;
  max-height: 400px;
  padding: 10px;
}
.products .product a {
  text-decoration: none;
}
.products .product img {
  width: 100%;
  height: 80%;
}
.products .product .product-name {
  color: black;
  font-weight: bold;
  margin-bottom: 0.5rem;
}
.products .product .product-infos {
  padding: 10px;
}
.products .product .product-rating {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.products .product .product-rating .product-price {
  color: var(--third-color);
  font-weight: bold;
}
.products .product .rating i {
  color: orange;
}
.products .product .rating span {
  font-weight: bold;
}

.signin,
.signup,
.shipping,
.profile {
  min-height: 100vh;
}
.signin form,
.signup form,
.shipping form,
.profile form {
  max-width: 400px;
  padding: 20px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 12px;
  margin: 6% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 576px) {
  .signin form,
  .signup form,
  .shipping form,
  .profile form {
    width: 80vw;
  }
}
.signin input,
.signin button,
.signin div,
.signup input,
.signup button,
.signup div,
.shipping input,
.shipping button,
.shipping div,
.profile input,
.profile button,
.profile div {
  margin-bottom: 15px;
}
.signin input[type=text],
.signin input[type=password],
.signin input[type=email],
.signup input[type=text],
.signup input[type=password],
.signup input[type=email],
.shipping input[type=text],
.shipping input[type=password],
.shipping input[type=email],
.profile input[type=text],
.profile input[type=password],
.profile input[type=email] {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.signin button,
.signup button,
.shipping button,
.profile button {
  padding: 10px 20px;
  background-color: var(--main-color);
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.signin button:hover,
.signup button:hover,
.shipping button:hover,
.profile button:hover {
  background-color: var(--second-color);
}
.signin div,
.signup div,
.shipping div,
.profile div {
  font-size: 1rem;
  text-align: center;
}
.signin div a,
.signup div a,
.shipping div a,
.profile div a {
  color: var(--second-color);
  text-decoration: none;
}
.signin div a:hover,
.signup div a:hover,
.shipping div a:hover,
.profile div a:hover {
  text-decoration: underline;
}

.product-detail {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}
@media (max-width: 576px) {
  .product-detail {
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 577px) and (max-width: 1000px) {
  .product-detail {
    flex-direction: column;
    align-items: center;
  }
}
.product-detail img {
  max-width: 400px;
  margin-right: 2rem;
}
@media (max-width: 576px) {
  .product-detail img {
    margin-bottom: 15px;
    margin-right: 0;
    max-width: 300px;
  }
}
@media (min-width: 577px) and (max-width: 1000px) {
  .product-detail img {
    margin-bottom: 15px;
    margin-right: 0;
  }
}
.product-detail .product-name-before {
  display: none;
}
@media (max-width: 576px) {
  .product-detail .product-name-before {
    display: block;
    font-size: 2.5rem;
    margin-bottom: 15px;
  }
}
@media (min-width: 577px) and (max-width: 1000px) {
  .product-detail .product-name-before {
    display: block;
    font-size: 2.5rem;
    margin-bottom: 15px;
  }
}
.product-detail .product-infos .product-name,
.product-detail .product-infos .product-price,
.product-detail .product-infos .description,
.product-detail .product-infos .instock,
.product-detail .product-infos .unavailable {
  margin-bottom: 10px;
}
.product-detail .product-infos .product-name {
  font-size: 2.5rem;
}
@media (max-width: 576px) {
  .product-detail .product-infos .product-name {
    display: none;
  }
}
@media (min-width: 577px) and (max-width: 1000px) {
  .product-detail .product-infos .product-name {
    display: none;
  }
}
.product-detail .product-infos .rating i {
  color: orange;
}
.product-detail .product-infos .rating span {
  font-weight: bold;
}
.product-detail .product-infos .product-price {
  margin-top: 10px;
  color: var(--third-color);
  font-weight: bold;
}
.product-detail .product-infos .description {
  background-color: #cde2f5;
  padding: 10px;
  max-width: 400px;
  line-height: 1.5rem;
}
@media (max-width: 576px) {
  .product-detail .product-infos .description {
    max-width: 300px;
  }
}
.product-detail .product-infos .instock {
  background-color: green;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
  color: white;
  border-radius: 5px;
}
.product-detail .product-infos .unavailable {
  background-color: red;
  width: -moz-fit-content;
  width: fit-content;
  padding: 5px;
  color: white;
  border-radius: 5px;
}
.product-detail .product-infos button {
  padding: 10px 20px;
  background-color: var(--main-color);
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.product-detail .product-infos button:hover {
  background-color: var(--second-color);
}

footer {
  padding: 40px 10%;
  background-color: #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 576px) {
  footer {
    display: none;
  }
}
@media (min-width: 577px) and (max-width: 1000px) {
  footer {
    display: none;
  }
}
footer ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}
footer ul li {
  margin-bottom: 10px;
}
footer ul li:hover:not(.list-title) {
  color: var(--second-color);
}
footer ul li.list-title {
  font-weight: bold;
  color: rgb(75, 75, 75);
}
footer ul a {
  text-decoration: none;
  color: rgb(75, 75, 75);
}

.footerfooter {
  text-align: center;
  background-color: #d4d4d4;
  padding: 15px;
}

.cart-page {
  min-height: 100vh;
}
.cart-page .cart {
  display: flex;
  justify-content: space-between;
  width: 70vw;
  margin: 40px auto;
}
@media (max-width: 576px) {
  .cart-page .cart {
    flex-direction: column;
    width: 90vw;
  }
}
@media (min-width: 577px) and (max-width: 1000px) {
  .cart-page .cart {
    flex-direction: column;
    width: 90vw;
  }
}
.cart-page .cart .cart-items {
  display: flex;
  flex-direction: column;
}
@media (max-width: 576px) {
  .cart-page .cart .cart-items {
    margin-bottom: 20px;
  }
}
@media (min-width: 577px) and (max-width: 1000px) {
  .cart-page .cart .cart-items {
    margin-bottom: 20px;
  }
}
.cart-page .cart .cart-items .cart-item {
  border: 1px solid #ccc;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 45vw;
}
.cart-page .cart .cart-items .cart-item .item-info {
  display: flex;
  align-items: center;
}
.cart-page .cart .cart-items .cart-item .item-info img {
  max-width: 100px;
  margin-right: 10px;
}
@media (max-width: 576px) {
  .cart-page .cart .cart-items .cart-item .item-info img {
    max-width: 50px;
  }
}
@media (min-width: 577px) and (max-width: 1000px) {
  .cart-page .cart .cart-items .cart-item .item-info img {
    max-width: 70px;
  }
}
@media (max-width: 576px) {
  .cart-page .cart .cart-items .cart-item .item-info p {
    font-size: 0.8rem;
  }
}
@media (min-width: 577px) and (max-width: 1000px) {
  .cart-page .cart .cart-items .cart-item .item-info p {
    font-size: 1rem;
  }
}
.cart-page .cart .cart-items .cart-item .item-update-quantity {
  display: flex;
  align-items: center;
}
.cart-page .cart .cart-items .cart-item .item-update-quantity i {
  background-color: #ececec;
  padding: 5px;
  cursor: pointer;
}
.cart-page .cart .cart-items .cart-item .item-update-quantity p {
  margin: 0 7px;
}
.cart-page .cart .cart-items i.fa-trash {
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 5px;
  border-radius: 50%;
  transition: 0.1s ease-in-out;
}
.cart-page .cart-subtotal {
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  width: 20vw;
  height: -moz-fit-content;
  height: fit-content;
  padding: 10px;
}
@media (max-width: 576px) {
  .cart-page .cart-subtotal {
    width: 90vw;
  }
}
@media (min-width: 577px) and (max-width: 1000px) {
  .cart-page .cart-subtotal {
    width: 90vw;
  }
}
.cart-page .cart-subtotal p {
  margin-bottom: 10px;
}
.cart-page .cart-subtotal p.price {
  font-weight: bold;
  color: var(--second-color);
}
.cart-page .cart-subtotal button {
  background-color: var(--main-color);
  color: white;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}
.cart-page .cart-subtotal button:hover {
  background-color: var(--second-color);
}

.payment {
  min-height: 100vh;
  max-width: 400px;
  margin: 5% auto;
}
.payment h2 {
  margin-bottom: 20px;
}
@media (max-width: 576px) {
  .payment h2 {
    font-size: 1rem;
    text-align: center;
  }
}
.payment form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 576px) {
  .payment form {
    flex-direction: column;
  }
}
.payment form div {
  display: flex;
  flex-direction: column;
}
@media (max-width: 576px) {
  .payment form div {
    margin-bottom: 20px;
  }
}
.payment form div label i {
  color: var(--main-color);
  font-size: 5rem;
  cursor: pointer;
}
.payment form div label i:hover {
  color: var(--second-color);
}
.payment form button {
  background-color: var(--main-color);
  color: white;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  height: -moz-fit-content;
  height: fit-content;
  cursor: pointer;
  font-size: 1rem;
}
.payment form button:hover {
  background-color: var(--second-color);
}

.preview-order {
  padding: 0 10%;
}

.placeorder {
  min-height: 100vh;
  padding: 40px 10%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 576px) {
  .placeorder {
    flex-direction: column;
    align-items: center;
    font-size: 0.8rem;
    justify-content: initial;
  }
}
@media (min-width: 577px) and (max-width: 1000px) {
  .placeorder {
    flex-direction: column;
    align-items: center;
    font-size: 0.9rem;
    justify-content: initial;
  }
}
.placeorder .left {
  width: 50vw;
}
@media (max-width: 576px) {
  .placeorder .left {
    width: 80vw;
  }
}
@media (min-width: 577px) and (max-width: 1000px) {
  .placeorder .left {
    width: 80vw;
  }
}
.placeorder .left h4 {
  color: var(--main-color);
  margin-bottom: 15px;
}
.placeorder .left .shipping-infos {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 15px;
}
.placeorder .left .shipping-infos div {
  margin-bottom: 10px;
}
.placeorder .left .shipping-infos div span {
  font-weight: bold;
}
.placeorder .left .shipping-infos div.error-message,
.placeorder .left .shipping-infos div.success-message {
  width: 100%;
}
.placeorder .left .items {
  border: 1px solid #ccc;
  padding: 15px;
}
@media (max-width: 576px) {
  .placeorder .left .items {
    margin-bottom: 15px;
  }
}
@media (min-width: 577px) and (max-width: 1000px) {
  .placeorder .left .items {
    margin-bottom: 15px;
  }
}
.placeorder .left .items .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.placeorder .left .items .item div {
  display: flex;
  align-items: center;
}
.placeorder .left .items .item div img {
  max-width: 80px;
  margin-right: 10px;
}
.placeorder .left .items .item span.price {
  font-weight: bold;
  color: var(--second-color);
}
.placeorder .right {
  width: 25vw;
}
@media (max-width: 576px) {
  .placeorder .right {
    width: 80vw;
  }
}
@media (min-width: 577px) and (max-width: 1000px) {
  .placeorder .right {
    width: 80vw;
  }
}
.placeorder .right h4 {
  color: var(--main-color);
  margin-bottom: 15px;
}
.placeorder .right .order-summary {
  border: 1px solid #ccc;
  padding: 15px 30px;
}
.placeorder .right .order-summary div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.placeorder .right .order-summary div.my-paypal-buttons {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.placeorder .right .order-summary div.total {
  font-weight: bold;
}
.placeorder .right .order-summary div.total span {
  color: var(--second-color);
}
.placeorder .right button {
  background-color: var(--main-color);
  color: white;
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
  font-size: 1rem;
}
.placeorder .right button:hover {
  background-color: var(--second-color);
}

.order-history {
  min-height: 100vh;
}

table {
  width: 80%;
  border-collapse: collapse;
  margin: 40px auto;
}
table thead {
  background-color: #f2f2f2;
}
table thead th {
  padding: 12px;
  text-align: left;
}
@media (min-width: 577px) and (max-width: 1000px) {
  table thead th {
    font-size: 0.7rem;
  }
}
@media (max-width: 576px) {
  table thead th {
    display: none;
  }
}
table tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}
table tbody tr td {
  padding: 12px;
}
@media (min-width: 577px) and (max-width: 1000px) {
  table tbody tr td {
    font-size: 0.7rem;
  }
}
@media (max-width: 576px) {
  table tbody tr td {
    display: grid;
    grid-template-columns: 15ch auto;
  }
}
table tbody tr td span {
  display: none;
}
@media (max-width: 576px) {
  table tbody tr td span {
    display: inline;
    font-weight: bold;
  }
}
table tbody tr button {
  padding: 6px 12px;
  background-color: var(--main-color);
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}
table tbody tr button:hover {
  background-color: var(--second-color);
}
@media (max-width: 576px) {
  table tbody tr button {
    width: -moz-fit-content;
    width: fit-content;
  }
}

.search-page {
  padding: 40px 10%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 576px) {
  .search-page {
    flex-direction: column;
    padding: 20px;
  }
}
@media (min-width: 577px) and (max-width: 1000px) {
  .search-page {
    flex-direction: column;
  }
}
.search-page .error-message {
  margin-top: 20px;
}
.search-page .rating i {
  color: orange;
}
.search-page .rating span {
  color: orange;
}
.search-page h3 {
  color: var(--second-color);
  margin-bottom: 15px;
}
.search-page ul {
  list-style: none;
}
.search-page ul li {
  margin-bottom: 10px;
  margin-left: 15px;
}
.search-page ul a {
  text-decoration: none;
  color: black;
}
.search-page .left div {
  margin-bottom: 20px;
}
.search-page .right {
  width: 60vw;
}
@media (max-width: 576px) {
  .search-page .right {
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 577px) and (max-width: 1000px) {
  .search-page .right {
    width: 80vw;
  }
}
.search-page .right .result-number {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 576px) {
  .search-page .right .result-number {
    font-size: 0.9rem;
  }
}
.search-page .right .result-number button {
  border: none;
  outline: none;
  margin-left: 10px;
  background-color: #e6e6e6;
  padding: 5px;
  cursor: pointer;
}
@media (max-width: 576px) {
  .search-page .right .result-number button {
    margin-left: 5px;
    padding: 2px;
  }
}
.search-page .right .result-number div.select select {
  padding: 5px;
  margin-left: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}
@media (max-width: 576px) {
  .search-page .right .result-number div.select select {
    padding: 2px;
    font-size: 0.9rem;
  }
}
.search-page .right .result-number div.select select:focus {
  outline: none;
  border-color: var(--second-color);
}
@media (max-width: 576px) {
  .search-page .right .result-number span.result-query {
    display: none;
  }
}
@media (min-width: 577px) and (max-width: 1000px) {
  .search-page .right .result-number span.result-query {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */