* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --main-color: rgb(0, 10, 146);
  --second-color: rgb(0, 13, 192);
  --third-color: crimson;
}

.error-message {
  background-color: rgb(255, 146, 146);
  width: 50vw;
  padding: 10px;
  color: rgb(155, 0, 0);
  margin: 0 auto;
  border: 1px solid rgb(155, 0, 0);
}

.success-message {
  background-color: rgb(106, 255, 114);
  width: 50vw;
  padding: 10px;
  color: rgb(0, 116, 6);
  margin: 0 auto;
  border: 1px solid rgb(0, 116, 6);
}

@mixin breakpoints($point) {
  @if $point == small {
    @media (max-width: 576px) {
      @content;
    }
  } @else if $point == medium {
    @media (min-width: 577px) and (max-width: 1000px) {
      @content;
    }
  } @else if $point == large {
    @media (min-width: 1001px) {
      @content;
    }
  }
}

.text-bold {
  font-weight: bold;
}

i.spinner {
  color: var(--second-color);
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div.spinner {
  height: 100vh;
}

.searchbox {
  input {
    width: 50vw;
    padding: 7px;
    border-radius: 20px;
    font-size: 1rem;
    border: none;
    outline: none;
    @include breakpoints(small) {
      display: none;
    }
    @include breakpoints(medium) {
      display: none;
    }
  }
  button {
    display: none;
    @include breakpoints(small) {
      display: block;
      background-color: transparent;
      border: none;
      outline: none;
      color: white;
      cursor: pointer;
      font-size: 1rem;
    }
    @include breakpoints(medium) {
      display: block;
      background-color: transparent;
      border: none;
      outline: none;
      color: white;
      cursor: pointer;
      font-size: 1rem;
    }
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 7px 10%;
  background-color: var(--main-color);
  color: white;
  @include breakpoints(small) {
    padding: 7px 5%;
  }
  a {
    text-decoration: none;
  }
  .logo {
    font-weight: bold;
    font-size: 2rem;
    color: white;
  }
  ul {
    list-style: none;
    li {
      display: inline-block;
      position: relative;
      a {
        color: white;
        display: block;
        padding: 20px;
        text-decoration: none;
        text-align: center;
        font-size: 1rem;
      }
      ul.dropdown {
        width: fit-content;
        position: absolute;
        z-index: 999;
        display: none;
        background-color: var(--main-color);
        padding: 10px;
        li {
          display: flex;
          align-items: center;
          white-space: nowrap;
        }
        li.dropdown-list:hover {
          background-color: var(--second-color);
          border-radius: 15px;
        }
      }
    }
    li.mobile-icon {
      display: none;
      @include breakpoints(small) {
        display: inline-block;
      }
      @include breakpoints(medium) {
        display: inline-block;
      }
    }
    li:hover {
      ul.dropdown {
        display: block;
        @include breakpoints(small) {
          display: none;
        }
        @include breakpoints(medium) {
          display: none;
        }
      }
    }
  }
  .signin-button {
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
  }
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px;
  @include breakpoints(small){
    padding: 10px;
  }
  .product {
    max-width: 300px;
    max-height: 400px;
    padding: 10px;
    a {
      text-decoration: none;
    }
    img {
      width: 100%;
      height: 80%;
    }
    .product-name {
      color: black;
      font-weight: bold;
      margin-bottom: 0.5rem;
    }
    .product-infos {
      padding: 10px;
    }
    .product-rating {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .product-price {
        color: var(--third-color);
        font-weight: bold;
      }
    }
    .rating i {
      color: orange;
    }
    .rating span {
      font-weight: bold;
    }
  }
}

.signin,
.signup,
.shipping,
.profile {
  min-height: 100vh;
  form {
    max-width: 400px;
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 12px;
    margin: 6% auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    @include breakpoints(small) {
      width: 80vw;
    }
  }
  input,
  button,
  div {
    margin-bottom: 15px;
  }

  input[type="text"],
  input[type="password"],
  input[type="email"] {
    padding: 10px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
  }

  button {
    padding: 10px 20px;
    background-color: var(--main-color);
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
      background-color: var(--second-color);
    }
  }

  div {
    font-size: 1rem;
    text-align: center;

    a {
      color: var(--second-color);
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.product-detail {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
  img {
    max-width: 400px;
    margin-right: 2rem;
  }
  .product-infos {
    .product-name,
    .product-price,
    .description,
    .instock,
    .unavailable {
      margin-bottom: 10px;
    }
    .product-name {
      font-size: 2.5rem;
    }
    .rating i {
      color: orange;
    }
    .rating span {
      font-weight: bold;
    }
    .product-price {
      margin-top: 10px;
      color: var(--third-color);
      font-weight: bold;
    }
    .description {
      background-color: #cde2f5;
      padding: 10px;
      max-width: 400px;
      line-height: 1.5rem;
    }
    .instock {
      background-color: green;
      width: fit-content;
      padding: 5px;
      color: white;
      border-radius: 5px;
    }
    .unavailable {
      background-color: red;
      width: fit-content;
      padding: 5px;
      color: white;
      border-radius: 5px;
    }
    button {
      padding: 10px 20px;
      background-color: var(--main-color);
      color: #fff;
      border: none;
      border-radius: 8px;
      cursor: pointer;

      &:hover {
        background-color: var(--second-color);
      }
    }
  }
}

footer {
  @include breakpoints(small) {
    display: none;
  }
  @include breakpoints(medium) {
    display: none;
  }
  padding: 40px 10%;
  background-color: #e6e6e6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    li {
      margin-bottom: 10px;
      &:hover:not(.list-title) {
        color: var(--second-color);
      }
    }
    li.list-title {
      font-weight: bold;
      color: rgb(75, 75, 75);
    }
    a {
      text-decoration: none;
      color: rgb(75, 75, 75);
    }
  }
}

.footerfooter {
  text-align: center;
  background-color: #d4d4d4;
  padding: 15px;
}

.cart-page {
  min-height: 100vh;
  .cart {
    display: flex;
    justify-content: space-between;
    width: 70vw;
    margin: 40px auto;
    @include breakpoints(small) {
      flex-direction: column;
      width: 90vw;
    }
    @include breakpoints(medium) {
      flex-direction: column;
      width: 90vw;
    }
    .cart-items {
      display: flex;
      flex-direction: column;
      @include breakpoints(small) {
        margin-bottom: 20px;
      }
      @include breakpoints(medium) {
        margin-bottom: 20px;
      }
      .cart-item {
        border: 1px solid #ccc;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-width: 45vw;
        .item-info {
          display: flex;
          align-items: center;
          img {
            max-width: 100px;
            margin-right: 10px;
            @include breakpoints(small) {
              max-width: 50px;
            }
            @include breakpoints(medium) {
              max-width: 70px;
            }
          }
          p {
            @include breakpoints(small) {
              font-size: 0.8rem;
            }
            @include breakpoints(medium) {
              font-size: 1rem;
            }
          }
        }
        .item-update-quantity {
          display: flex;
          align-items: center;
          i {
            background-color: #ececec;
            padding: 5px;
            cursor: pointer;
          }
          p {
            margin: 0 7px;
          }
        }
      }
      i.fa-trash {
        background-color: red;
        color: white;
        cursor: pointer;
        padding: 5px;
        border-radius: 50%;
        transition: 0.1s ease-in-out;
      }
    }
  }
  .cart-subtotal {
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: fit-content;
    padding: 10px;
    @include breakpoints(small) {
      width: 90vw;
    }
    @include breakpoints(medium) {
      width: 90vw;
    }
    p {
      margin-bottom: 10px;
    }
    p.price {
      font-weight: bold;
      color: var(--second-color);
    }
    button {
      background-color: var(--main-color);
      color: white;
      border: none;
      outline: none;
      padding: 10px;
      border-radius: 10px;
      cursor: pointer;
      &:hover {
        background-color: var(--second-color);
      }
    }
  }
}

.payment {
  min-height: 100vh;
  max-width: 400px;
  margin: 5% auto;
  h2 {
    margin-bottom: 20px;
    @include breakpoints(small) {
      font-size: 1rem;
      text-align: center;
    }
  }
  form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include breakpoints(small) {
      flex-direction: column;
    }
    div {
      display: flex;
      flex-direction: column;
      @include breakpoints(small) {
        margin-bottom: 20px;
      }
      label i {
        color: var(--main-color);
        font-size: 5rem;
        cursor: pointer;
        &:hover {
          color: var(--second-color);
        }
      }
    }
    button {
      background-color: var(--main-color);
      color: white;
      border: none;
      outline: none;
      padding: 10px;
      border-radius: 10px;
      height: fit-content;
      cursor: pointer;
      font-size: 1rem;
      &:hover {
        background-color: var(--second-color);
      }
    }
  }
}

.preview-order {
  padding: 0 10%;
}

.placeorder {
  min-height: 100vh;
  padding: 40px 10%;
  display: flex;
  justify-content: space-between;
  @include breakpoints(small) {
    flex-direction: column;
    align-items: center;
    font-size: 0.8rem;
    justify-content: initial;
  }
  @include breakpoints(medium) {
    flex-direction: column;
    align-items: center;
    font-size: 0.9rem;
    justify-content: initial;
  }
  .left {
    width: 50vw;
    @include breakpoints(small) {
      width: 80vw;
    }
    @include breakpoints(medium) {
      width: 80vw;
    }
    h4 {
      color: var(--main-color);
      margin-bottom: 15px;
    }
    .shipping-infos {
      border: 1px solid #ccc;
      padding: 10px;
      margin-bottom: 15px;
      div {
        margin-bottom: 10px;
        span {
          font-weight: bold;
        }
      }
      div.error-message,
      div.success-message {
        width: 100%;
      }
    }
    .items {
      border: 1px solid #ccc;
      padding: 15px;
      @include breakpoints(small) {
        margin-bottom: 15px;
      }
      @include breakpoints(medium) {
        margin-bottom: 15px;
      }
      .item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;
        div {
          display: flex;
          align-items: center;
          img {
            max-width: 80px;
            margin-right: 10px;
          }
        }
        span.price {
          font-weight: bold;
          color: var(--second-color);
        }
      }
    }
  }
  .right {
    width: 25vw;
    @include breakpoints(small) {
      width: 80vw;
    }
    @include breakpoints(medium) {
      width: 80vw;
    }
    h4 {
      color: var(--main-color);
      margin-bottom: 15px;
    }
    .order-summary {
      border: 1px solid #ccc;
      padding: 15px 30px;
      div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
      }
      div.my-paypal-buttons {
        display: flex;
        align-items: center;
        flex-direction: column;
      }
      div.total {
        font-weight: bold;
        span {
          color: var(--second-color);
        }
      }
    }
    button {
      background-color: var(--main-color);
      color: white;
      border: none;
      outline: none;
      padding: 10px;
      border-radius: 10px;
      width: 100%;
      cursor: pointer;
      font-size: 1rem;
      &:hover {
        background-color: var(--second-color);
      }
    }
  }
}

.order-history {
  min-height: 100vh;
}

table {
  width: 80%;
  border-collapse: collapse;
  margin: 40px auto;

  thead {
    background-color: #f2f2f2;

    th {
      padding: 12px;
      text-align: left;
      @include breakpoints(medium){
        font-size: .7rem;
      }
      @include breakpoints(small){
        display: none;
      }
    }
  }

  tbody {
    tr {
      &:nth-child(even) {
        background-color: #f9f9f9;
      }

      td {
        padding: 12px;
        @include breakpoints(medium){
          font-size: .7rem;
        }
        @include breakpoints(small){
          display: grid;
          grid-template-columns: 15ch auto;
        }
        span{
          display: none;
          @include breakpoints(small){
            display: inline;
            font-weight: bold;
          }
        }
      }

      button {
        padding: 6px 12px;
        background-color: var(--main-color);
        color: #fff;
        border: none;
        cursor: pointer;
        border-radius: 4px;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: var(--second-color);
        }
        @include breakpoints(small){
          width: fit-content;
        }
      }
    }
  }
}

.search-page{
  padding: 40px 10%;
  display: flex;
  justify-content: space-between;
  @include breakpoints(small){
    flex-direction: column;
    padding: 20px;
  }
  @include breakpoints(medium){
    flex-direction: column;
  }
  .error-message{
    margin-top: 20px;
  }
  .rating i {
    color: orange;
  }
  .rating span {
    color: orange;
  }
  h3{
    color: var(--second-color);
    margin-bottom: 15px;
  }
  ul{
    list-style: none;
    li{
      margin-bottom: 10px;
      margin-left: 15px;
    }
    a{
      text-decoration: none;
      color: black;
    }
  }
  .left{
    div{
      margin-bottom: 20px;
    }
  }

  .right{
    width: 60vw;
    @include breakpoints(small){
      width: 100%;
      margin: 0 auto;
    }
    @include breakpoints(medium){
      width: 80vw;
    }
    .result-number{
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include breakpoints(small){
        font-size: .9rem;
      }
      button{
        border: none;
        outline: none;
        margin-left: 10px;
        background-color: #e6e6e6;
        padding: 5px;
        cursor: pointer;
        @include breakpoints(small){
          margin-left: 5px;
          padding: 2px;
        }
      }
      div.select{
        select {
          padding: 5px;
          margin-left: 10px;
          font-size: 1rem;
          border: 1px solid #ccc;
          border-radius: 4px;
          cursor: pointer;
          @include breakpoints(small){
            padding: 2px;
            font-size: .9rem;
          }
          &:focus {
            outline: none;
            border-color: var(--second-color);
          }
        }
        
      }
      span.result-query{
        @include breakpoints(small){
          display: none;
        }
        @include breakpoints(medium){
          display: none;
        }
      }
    }
  }
}